.github/
_build.yml
_config.yml
index.md
Allfiles/Demos/
# Ignorer tous les fichiers .md dans le dossier Labs
Instructions/Labs/*.md

# Réinclure uniquement le fichier de ressources
!Instructions/Labs/Lab_00_SetUpLabResources.md
!Instructions/Labs/Lab_01_ManageUserRoles.md