.github/
_build.yml
_config.yml
index.md
Allfiles/Demos/
# Ignorer tous les fichiers .md dans le dossier Labs
Instructions/Labs/*.md

# Réinclure uniquement les fichiers de ressources et les laboratoires souhaités
!Instructions/Labs/Lab_00_SetUpLabResources.md
!Instructions/Labs/Lab_01_ManageUserRoles.md
!Instructions/Labs/Lab_02_WorkingWithTenantProperties.md
!Instructions/Labs/Lab_03_ConfigureAAD_MultiFactorAuthRegPolicy.md
!Instructions/Labs/Lab_04_ConfigureConditionalAccessPolicies.md
!Instructions/Labs/Lab_04_ImplementAndTestAConditionalAccessPolicy.md
!Instructions/Labs/Lab_05_AddGuestUsersToTheDirectory.md
!Instructions/Labs/Lab_06_CreatingAccessReviewsForUsers.md
!Instructions/Labs/Lab_07_ConfigureAndDeploySelfServicePasswordReset.md
!Instructions/Labs/Lab_08_EnableAzureADMultiFactorAuthentication.md
